body{    
    background-color:rgb(243, 253, 215);
    overflow-y: auto;
    overflow-x:auto;    
    height: 100%;
  }
  
  
a{
    color: #333;
    text-decoration: none;
  }



/* 製品紹介ページ start */
  
.product-area{  
  margin-bottom: 1vh;
}

.product-name-area{
  background: linear-gradient(70deg, rgb(250, 222, 227), rgb(252, 224, 229));
}

.product-name{
  margin: 0;
  padding: 0.5vh 0;
  color: #3b2525
}
.info-box{
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 1vh 0;
  background-color: #fff;
}



.product-explanation-area{
  text-align: left;
  padding: 1vh;
}


.product-explanation{
  text-align: left;
  color: #3b2525;
  font-size: 21px;
}

/* 製品紹介ページ end */


/* お問い合わせページ start */



/* お問い合わせページ end */