body{    
    /* background-color:rgb(255,255,224); */
    background-color:white;

    

    
    overflow-y: auto;
    overflow-x:auto;    
    height: 100%;
  }
  
  
a{
    color: #333;
    text-decoration: none;
  }



/* 製品紹介ページ start */
  

/* 製品紹介ページ end */


/* お問い合わせページ start */



/* お問い合わせページ end */